.SecHeader{
  display: flex;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.11);
  background-color: #ffffff;
  width: 100%;
  height: 4.4rem;
  justify-content: space-between;
  align-items: center;

  & div{
    //margin: 10px;
    color: #5c5c5c;
    font-size: 1.8rem;
    margin-left: 30px;
    font-weight: 500;
  }
}

.GreyHeader{
  background-color: #f7f7f7;
}