.Sidebar{
  //width: 100%;
  height: 100%;
  background-color: #414141;
  grid-column: 1 / 2;
  grid-row: 2 / auto;
  color: white;

  &_header{
    border-bottom: .5px solid #d1caca;
    padding-left: 4vw;
    text-transform: uppercase;
    font-size: 1.8rem;
    color: white;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    font-family: "Archivo";
  }

  li{
    padding-left: 4vw;
    padding-top: 2.3rem;
    padding-bottom: 2.3rem;
    font-size: 1.5rem;
    list-style: none;
    color: white;
    font-weight: 500;
    border-bottom: .5px solid #d1caca;
    &:hover, :active{
      background-color: #eaeaea;
      color: #0e508c;
    }
    font-family: "Roboto"
    
  }
  ul{
    //margin-top: 3rem;
    padding: 0;
  }
  img{
    margin: auto;
    border-radius: 50%;
    background-color: white;
  }
}