.Sidebar{
  //width: 100%;
  height: 100%;
  background-color: #f8f8f8;
  grid-column: 1 / 2;
  grid-row: 2 / auto;

  &_header{
    border-bottom: .5px solid #1F6D7B;
    padding-left: 4vw;
    text-transform: uppercase;
    font-size: 1.8rem;
    color: #727272;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    font-family: "Archivo";
  }

  li{
    padding-left: 4vw;
    padding-top: 2.3rem;
    padding-bottom: 2.3rem;
    font-size: 1.5rem;
    list-style: none;
    color: #727272;
    font-weight: 500;
    border-bottom: .5px solid #d1caca;
    &:hover{
      background-color: #eaeaea;
    }
    font-family: "Roboto"
    
  }
  ul{
    //margin-top: 3rem;
    padding: 0;
  }
  img{
    border-radius: 50%;
  }
}