.Profile{
  font-size: 1.3rem;
  padding-left: 3rem;
  p{
    padding-left: 3rem;
    padding-right: 3rem;
    color: #868686;
    text-transform: capitalize;
  }
  h3{
    padding-left: 3rem
  }
  img{
    margin-top: 2rem;
    padding: 1.5rem;
    margin-left: 3rem;
    border: 1px solid #868686;
  }
  font-weight: 500
}