.HorizontalFlexbox{
  min-width: 25rem;
  flex-grow: 2;
  //margin: 10px;
  display: flex;
  //flex-direction: row;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.11);
  background-color: #ffffff;
  height: max-content;
  min-height: 100vh;
  padding: 2rem;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: flex-start;
  //align-items: center;
  //min-height: max-content;


}