.VertFlexbox{
  min-width: 25rem;
  flex-grow: 1;
  margin: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.11);
  background-color: #ffffff;
  height: max-content;
  min-height: 100vh;
  //align-content: center;
  align-items: center;
  //min-height: max-content;

  & > div{
    margin-bottom: 10px;
    width: 100%;
  }
  &:first-child{
    //margin-top: 2rem;
  }
  &__button{
    text-align: center;
  }
}