.DistrLayout{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 17vw 83vw;
  grid-template-rows: 10% 90%;
  overflow-y: auto;
  overflow-x: hidden;
}

.main{
  height: 100%;
  grid-column: 2/ 3;
  grid-row: 2 / 3;
  overflow-y: auto;
  overflow-x: hidden;
  //flex-flow: row wrap;
  //justify-content
}