.Input {
  //padding: 10px;
  //  box-sizing: border-box;
  font-family: inherit;
  //width: min-content;
  // display: flex;
  // justify-content: center;
  // flex-flow: column;
  // align-items: center;
  //text-align: center;
}

.Label {
  font-weight: bold;
  display: block;
  margin-bottom: 8px;
  text-align: center;
  font-size: 1.5rem;
}

.InputElement {
  outline-style: none;
  outline-color: transparent;
  border: 0px;
  -webkit-appearance: none;
  background-color: white;
  font: inherit;
  font-size: 1.5rem;
  display: block;
  width: 25rem;
  height: 5rem;
  box-sizing: border-box;
  border-bottom: 3px solid #1f6d7b;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  background-color: white;
  &::placeholder {
    font-style: normal;
    font-size: 15px;
    letter-spacing: normal;
    text-align: left;
    color: #cbcbcb;
    text-transform: none;
  }
}

.Invalid {
  border: 1px solid red;
  background-color: #fda49a;
}

//.input:focus{
//  background-color: black;
//padding: 0px;Input_Input__2CgvO
// text-transform: none;-webkit-transition: none !important;
//}

input[type = "text"][type = "textarea"][type = "email"][type = "password"]:focus {
  //background-color: black;//white;
  //border-bottom: 3px solid #1F6D7B;
  text-transform: none;
  font-size: inherit;
  outline-offset: 0;
  border-bottom: 3px solid #1f6d7b;
  outline-style: none;
  border-radius: 0;
  padding: 0;
  margin: 0;
  width: 25rem;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
  z-index: 0;
  font-size: 1.5rem;
  
}

.ImageLabel{
  //display: none;
  //opacity: 0;
  margin-left: 3rem
}
.ImageInput{
  display: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover, 
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover, 
select:-webkit-autofill:focus{
  //border: 1px solid white;
 // -webkit-text-fill-color: black;
  background-color:  !important;
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  //transition: background-color 5000s ease-in-out 0s;
}
// input[type='button'] {
//   background: white url("./../../../Images/logoInput.png") no-repeat ;

// }
// input[type='image']:focus {
//   background-image: none;Input_Input__2CgvO
