.FormCont{
  display: flex;
  width: 100%;
  height: 100%;
  flex-flow: wrap row;
  align-content: flex-start;

  &__form{
    margin: 10px;
    width: 37rem;
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.11);
    background-color: #ffffff;
    height: 100%;
    //align-content: center;
    align-items: center;

    & div{
      margin-bottom: 10px;
    }
    &:first-child{
      margin-top: 2rem;
    }
    &__button{
      text-align: center;
    }
  }
}

.wrapper{
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}